*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(222, 205, 172, 1);
}

.popup-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.popup-container.popup-open{
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}

.popup{
  font-family: 'Inika';
  font-weight: 400;
  width: 700px;
  height: 300px;
  background-color: rgba(254, 250, 243, 1);
  border-radius: 28px;
  padding: 8px;
  box-shadow: 0 5px 4px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.close-icon{
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  right: 16px;
  transform: scale(1);
  cursor: pointer;
}

.popup-open .popup{
  transform: scale(1);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.overlay{
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-open .overlay{
  display: block;
}

.btn-div{
  position: absolute;
  inset: 0;
  margin: auto;
  width: 484px;
  height: 245px;
  background-color: rgba(254, 250, 243, 1);
  border-radius: 28px;
}

.btn{
  background-color: rgba(235, 191, 83, 1);
  color: rgba(254, 250, 243, 1);
  border: 1px solid rgba(254, 250, 243, 1);
  border-radius: 32px;
  position: absolute;
  width: 285px;
  height: 63px;
  inset: 0;
  margin: auto;
}
.popup h2{
  padding-left: 250px;
  padding-top: 80px;
}
.popup p{
  padding-left: 250px;
}

img{
  width: 213px;
  height: 218px;
  position: fixed;
  left: 40px;
  top: -50px;
}
input{
  font-size: 18px;
  margin-top: 70px;
  margin-left: 70px;
  width: 420px;
  padding: 10px;
  border-radius: 28px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn2{
  font-size: 18px;
  background-color: rgba(235, 191, 83, 1);
  color:rgba(254, 250, 243, 1) ;
  width: 180px;
  padding: 10px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  margin-left: -5px;
}